[2017-07-28 12:10] Stanko opened #3 "Add easing functions"
Add support for easing functions, custom and few builtins.

[2017-07-31 15:36] Stanko commented on #3
Added here https://github.com/Stanko/react-plx/commit/71a6c491ebd407c7547f1bbae914c5a2f4a6dc76

[2017-07-31 15:36] #3 closed

[2017-08-17 19:25] blanck-space opened #4 "Percentage based start trigger?"
In many cases, for example, making columns of a row appear one by one(using opacity), staggered, works great on let's say a 1920x1080 device. But the same configuration makes the boxes appear too soon on a 1388x768 device. Assuming that this row of staggered columns is at the end of a page, on an iPad, due to the huge height, the element id provided would never reach the page top, and hence the co

[2017-08-17 21:20] Stanko commented on #4
Hello @blanck-space,
I have an idea how this can be done, but I'm kinda tired atm, so I'll get back to you tomorrow.

[2017-08-18 12:09] Stanko commented on #4
Hey @blanck-space,

I just added support for percentage values (of the total page scroll). Check updated [readme](https://github.com/Stanko/react-plx#parallaxdata) and [demo](https://stanko.github.io/react-plx/).

Please test it yourself, and we can close the issue.

Commit: https://github.com/Stanko/react-plx/commit/207d1050a790608a5f7d782c3bd724c58ba540a8

[2017-08-18 17:43] blanck-space commented on #4
@Stanko, Brilliant. Can't believe how prompt that fix was, keep up the good work. I've something I'm sure you'd like to see but it's sort of private for now, is there a way to email you to show it till it's released?

[2017-08-18 18:01] #4 closed

[2017-08-18 20:15] Stanko commented on #4
You are welcome @blanck-space and thank you!

It would be great if you can send it, my email is
stanko / dot / tadic at google's email. Hope you get my try of email obfuscation :)

[2017-08-30 15:54] casoetan opened #6 "Working with Isomorphic Apps"
Any thoughts on this...

[code]

[2017-08-31 07:44] Stanko commented on #6
Hello @casoetan,
Quick fix would be to inject environment variable `SERVER_RENDER` into `process.env.SERVER_RENDER` using https://webpack.js.org/plugins/define-plugin/, and then don't render this component if it is `true`.

But I will add a prop in the version which will be called `serverRender` or `moveWindowStuffToComponentDidMount` 🙂 which will move adding window event listeners to `componentDi

[2017-08-31 09:37] Stanko commented on #6
@casoetan I just released version with the fix for universal rendering. Could you please try with this version and close the issue if it is resolved.

commit: https://github.com/Stanko/react-plx/commit/31d15ca70af62011bc02d75e4907255d5b45feba

[2017-08-31 10:18] casoetan commented on #6
@Stanko works great now.

Best,

[2017-08-31 10:18] #6 closed

[2017-08-31 10:29] Stanko commented on #6
Glad it helped!

P.S. If you can share, I would really like to see where are you using Plx :)

[2017-08-31 10:30] casoetan commented on #6
Working offline. Will definitely share as soon as I can.

Best, \Charles
via Newton Mail [https://cloudmagic.com/k/d/mailapp?ct=dx&cv=9.8.55&pv=10.12.6&source=email_footer_2]
On Thu, Aug 31, 2017 at 11:29, Stanko <notifications@github.com> wrote:
Glad it helped!

P.S. If you can share, I would really like to see where are you using Plx :)

—
You are receiving this because you modified the open/clo

[2017-09-12 19:59] badtant opened #7 "Scroll position on something else than the document?"
Hi,

Can this be used to use the scroll position on any element with scrolling overflow instead of checking the scroll position of the whole document?

[2017-09-13 10:48] Stanko commented on #7
Hello @badtant,
ATM it is not possible. It will be trickier to pull of than tracking windows scroll. It would be great if you can look into it and create a PR.

[2017-09-13 11:04] badtant commented on #7
There is a plain js version of scrollParent from jQuery UI in this thread:
https://stackoverflow.com/questions/35939886/find-first-scrollable-parent

Might be something to use.

[2017-09-17 21:09] bogdansoare opened #8 "Ability to use viewport units"
Hey there 👋
This component looks good, I have only one suggestion.
It would be very useful for responsive layouts where scroll height changes and it's not reliable, if we could use viewport units (vh, vw) for **start**, **duration** and **end**.
Apple is doing something similar
![screen shot 2017-09-18 at 00 07 30](https://user-images.githubusercontent.com/2750170/30524923-77f97e30-9c05-11e7-9d90-

[2017-09-18 08:03] Stanko commented on #8
Hello @bogdansoare,
On the top of my head, you could just use `widow.innerHeight` (or `innerWidth`). So for example if you want for your effect to start on `120vh` and to finish on `200vh` you could pass options like this:

[code]

I think it is cleaner this way, as if I add support for `vh` units, I would need add conditional check, then parse it, and at the end do the exact same thing with `wind

[2017-09-18 11:23] bogdansoare commented on #8
Heelo @Stanko .
Thanks for the response. It's a good idea, the problem that I have with it is that I'm server rendering, and I don't have access to the window object.
Also I think there will be a problem when the window height changes.

[2017-09-18 11:36] Stanko commented on #8
`Plx` already handles window resize.

As for the server rendering, you should handle it by passing `SERVER_RENDER` env variable, or just checking window type `typeof window === 'undefined'` and render `Plx` only in that case.

[2017-09-18 11:44] bogdansoare commented on #8
Cool, will try it out.
Thank you very much for the example 👍

[2017-09-27 01:30] Azerothian opened #10 "React 15.6 - Warning on setting css properties"
React Version: 15.6.0
React Version: 16 (fails completely)

Message: Warning: a 'div' tag (owner: 'unknown') was passed a numeric string value for CSS property 'background-position-x' (value: '-1.86') which will be treated as a unitless number in a future version of React.

[code]

[2017-09-27 09:12] Stanko commented on #10
Fixed here -> https://github.com/Stanko/react-plx/commit/7cbb7b279718890eee392d2e41dcc28be42c9ceb

[2017-09-27 09:12] #10 closed

[2017-09-27 09:13] Stanko commented on #8
@bogdansoare I'm going to close this one.

[2017-09-27 09:13] #8 closed

[2017-10-31 18:50] ernerock opened #13 "Is there a way to disable or change the values when at different media queries?"

[2017-11-01 09:56] Stanko commented on #13
Hello @ernerock,
You should track window resizing in you app, and then based on that pass different props to `Plx`.

I usually create decorator which injects breakpoint property into components. Then I do something like this

[code]

Hope that helps!

[2017-11-01 14:54] ernerock commented on #13
Thank you

[2017-11-01 14:54] #13 closed

[2017-11-03 04:31] LinkCable opened #14 "All parallax triggers tied to single element"
Hi, really appreciate this library.

I'm trying to use it in a project I have, but am encountering this weird this weirdness where the parallax events are all triggered when one element is in view and otherwise do nothing.

Basically I have a component `Project` and it looks something like this:

[code]

Now elsewhere I have my `App` which is like
[code]

And the first `Project`'s parallax effect

[2017-11-03 07:12] Stanko commented on #14
Hello @LinkCable,
Well if they share configuration that is the expected behavior. Can you please recreate the case here https://codesandbox.io/ so I can take a look

[2017-11-03 20:34] LinkCable commented on #14
@Stanko

I'm using this in my parallaxData
[code]

Shouldn't those be relative to the respective element?

Will create a codesandbox.

[2017-11-03 22:02] Stanko commented on #14
Percentage values are relative to the page, not the element, it is noted in the readme:

[2017-11-04 00:32] LinkCable commented on #14
Oh okay, got it. Thanks!

[2017-11-04 00:32] #14 closed

[2017-11-04 01:15] LinkCable commented on #14
One more question @Stanko , can offset be a percentage of the page or only fixed pixels?

[2017-11-04 06:26] oyeanuj opened #15 "Comparison with react-scroll-parallax"
Hi @Stanko, Thank you for putting out this library, it looks really promising. I am curious, as the author, if you have any thoughts comparing `react-plx` with [`react-scroll-parallax`](https://github.com/jscottsmith/react-scroll-parallax) (the only other library which looked promising)?

Any points of comparison/pros/cons from your point of view would be super helpful in deciding between the two.

[2017-11-04 06:41] oyeanuj opened #16 "Fading in paragraphs similar to Medium article"
Hi @Stanko, I had a quick usage question with the library that I was hoping you could help advice: Similar to [the demo](http://davegamache.com/parallax/) in the [Medium article](https://medium.com/@dhg/parallax-done-right-82ced812e61c), I was looking to fade in text on scroll and then after it reaches at half the viewport, fade it out again.

So, now if I am doing it for a few paragraphs of text,

[2017-11-04 07:45] Stanko commented on #14
Unfortunately only pixels for now. I have plans to refactor it, but I'm really busy atm, so I'm not sure when I'll get to it.

[2017-11-04 08:02] Stanko commented on #15
Hello @oyeanuj,
Don't take my word for granted, as I just saw `react-scroll-parallax`. Main pros of `Plx` are:

* `react-plx` has much more flexible configuration (
  * multiple CSS attributes per animations
  * multiple animations on the same element
  * support for colors or any numeric CSS attribte
* scroll handling is more performant
* there is no need to call `.update()` if page changes
* out

[2017-11-04 08:06] Stanko commented on #16
Hey again 🙂 as I mentioned in the other issue, I have a plan to refactor units so it is easier to use stuff relative to element's relative positioning. Not sure when I'll get to it though.

Anyway, I need to catch my plane now. But I'll look into your example in next few days.

[2017-11-04 16:40] oyeanuj commented on #16
@Stanko Thank you, looking forward to your feedback on the strategy above, even if a quick response.

[2017-11-07 07:09] oyeanuj opened #17 "Getting `getBoundingClientRect` errors"
Hi @Stanko, So I was giving `react-plx` a shot in my project and ran into the following errors in the console. They accumulated with the scroll.
[code]

Context: My usecase is that I have an full viewport image on the homepage that I am trying to have another full viewport container scoll on top of. So my setup looks like this:
[code]

Another usage question was in my case, am I right in understan

[2017-11-07 11:44] Stanko commented on #17
I can't replicate that error you are getting
https://codesandbox.io/s/xo5201ymwz

* `property: "height",` - this means height will be animated
* `duration: "height",` - this means animation is the element's height as duration

Hope that helps

[2017-11-07 12:04] Stanko commented on #16
https://codesandbox.io/s/5ykox640nl

This is a simple example how you can do it.

[2017-11-07 16:53] oyeanuj commented on #17
@Stanko Interesting, I'll try to isolate it and reproduce the issue. Meanwhile, I am wondering if I am even approaching using this library correctly?

Given that, do you think the correct way to approach this is to put the `<OverlayContent/>` with '<Plx />` and animate its height from 0 to 100% for the duration of the page viewport?

FWIW, Here was my unsuccessful attempt at it so far:  https://co

[2017-11-08 03:49] JulianJorgensen commented on #7
Great work @Stanko ! There are not a lot of react parallax libraries out there.

As for this feature, I do agree it is somewhat essential. I'll try and look into it at one point. I guess it boils down to using `offsetTop` property on the element.

[2017-11-14 13:57] Stanko opened #18 "Revisit start/end/duration props"
* [x] Introduce `end` which can be used *instead* of `duration`.
* [x] Find more intuitive (sane) way of defining these props.
* [x] Check if we need [all of these document height properties](https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L388), and move it to a separate method
* [ ] Save references to dom elements.
* [x] Check if we need dual pass through segments (I had some issue

[2017-11-15 07:47] legnoban opened #19 "Add class when component start value matches"
Is there a way to set a component inside <Plx/> to have certain bootstrap classes when plx start props matches?

[2017-11-15 08:40] Stanko commented on #19
Not sure I understand the question. Plx element accepts `className` and `style` props. Anything inside (`children`) is handled by your application, so you have total control over it.

[2017-11-15 10:06] legnoban commented on #19
[code]

`<Navigation/>` is on the bottom of the home page. When it reaches on top (by scrolling), I want it to have a `navbar fixed-top navbar `class instead of the change in opacity. I'm not sure if this is related to this project though ^^

[2017-11-15 10:17] Stanko commented on #19
Unfortunately this library doesn't really tackle that issue.

[2017-11-15 13:28] #19 closed

[2017-11-20 10:00] iamgioz opened #20 "Add Boolean `disabled` prop"
Hello @Stanko !
is it possible to add Boolean `disabled` prop to have a possibility switch component off and do not
update styles during scrolling. it might be useful in case when animation should be disabled for mobile devises or some screen sizes.

[2017-11-20 14:55] Stanko commented on #20
Hey @iamgioz,
That is definitely something that I'm going to add in the future. It might take a while as I'm really overwhelmed with other projects.
Cheers!

[2017-11-21 12:31] #16 closed

[2017-11-21 12:31] #7 closed

[2017-11-21 12:32] Stanko commented on #7
Closing as `won't fix`

[2017-11-21 12:32] #15 closed

[2017-11-28 00:38] markomarkom commented on #20
https://github.com/Stanko/react-plx/pull/21

[2017-11-29 13:44] dotansimha opened #23 "Interval issue when using in mobile"
Hi @Stanko ,

I am trying to integrate this package in my app, but the performance is super slow, and sometimes the scroll event triggered after 1-2 seconds!

I start to debug it, and I think that in Android/iOS mobile browsers, the `setTimeout` and `setInterval` are disabled during scroll, and not triggered, and it takes about 1 second to the scroll manager to start and fire events...

Related:
*

[2017-11-29 15:01] Stanko commented on #23
Well, there is not much we can do about browser limitations. But I've just tested my demo on both ios and android, and it seems to be working fine? Can you show me your example?

[2017-12-04 21:50] Stanko commented on #20
@iamgioz I just published a version which has `disabled` prop, but please note that API changed. `start` and `duration` are reworked, and I added `end` property.

[2017-12-04 21:50] #20 closed

[2017-12-04 21:52] Stanko commented on #23
@dotansimha I've reworked how scroll is handled, can you try running same example with the latest release? Please note that v1 introduced breaking changes, `start` and `duration` are reworked, and `end` prop is introduced.

[2017-12-04 21:52] Stanko commented on #17
Closing as I can't reproduce it and library got reworked for v1 anyway.

[2017-12-04 21:54] Stanko commented on #18
Closing as 5/6 are implemented, I might revisit "Save references to dom elements." at some point.

[2017-12-04 21:54] #18 closed

[2017-12-16 23:05] lvnr opened #25 "HTMLElement is not defined"
Getting this error when trying to use `react-plx` in a `next.js` project.

[code]

Probably just because there's no `HTMLElement` when it's trying to render it on the server-side.

Thanks a lot @Stanko for a great lib!

[2017-12-16 23:09] Stanko commented on #25
Hey @lvnr,
You are probably right, it fails on prop types definitions
`PropTypes.instanceOf(HTMLElement),`
which gets executed on the server. I'll push a fix in next 30 minutes.

Btw I would love to see animations made using Plx, so if you can please share your work.

Cheers!

[2017-12-16 23:12] lvnr commented on #25
@Stanko Thanks a lot for such a quick reply!

Will absolutely send the page your way as soon as it's up! 🙂

[2017-12-16 23:18] Stanko commented on #25
Thank you! 🎉

I just published `v1.0.4` which should take care of your issue. Please let me know if it works for you, so we can close the issue.

Commit: https://github.com/Stanko/react-plx/commit/ac7d713383a715a2bac3112378bd0effcf0b2373

[2017-12-16 23:34] lvnr commented on #25
It works @Stanko!

Thanks a lot!

[2017-12-16 23:35] #25 closed

[2018-01-09 04:28] oyeanuj commented on #17
@Stanko So, I just tried with the latest version and am still getting the error.

Here is a screenshot:

<img width="644" alt="screen shot 2018-01-08 at 8 23 17 pm" src="https://user-images.githubusercontent.com/9633371/34704988-e5e6d2c6-f4b1-11e7-9366-05110002179c.png">

And here is my code:
[code]

FWIW, my use-case is just to have an image scroll up slightly on entering the viewport.

Any thoug

[2018-01-09 07:52] Stanko commented on #17
https://codesandbox.io/s/99r9qq6ny

[2018-01-09 08:42] #23 closed

[2018-01-09 18:35] oyeanuj commented on #17
@Stanko thanks for that response. I was using 1.0.4.

I'll try to reproduce in a CodeSandbox and get post the link.

[2018-01-20 20:14] rileylnapier opened #26 "how to trigger function when plx starts / ends?"
i would like to update a property of a component when the plx starts...  but im not sure if that is possible with this library.

thoughts?

would be neat to have inside parallaxData a function onPlxStart or onPlxEnd or just onPlx that passes information that i can use to update react components?

[2018-01-20 23:39] Stanko commented on #26
Hello @rileylnapier,
If you want to change CSS property, you can set it using [included CSS classes](https://github.com/Stanko/react-plx#animation-state-css-classes).

ATM `Plx` doesn't support callbacks. But it is something I want to think about and add sometime in the future.

Cheers!

[2018-01-21 04:23] rileylnapier commented on #26
k thanks!  maybe if i find time ill poke around the library and see how easy it would be to do

[2018-04-10 13:11] gHashTag opened #29 "react-native-web"
#### Your library is something I've been looking for a very long time, but unfortunately I do not work with the library  [React Native Web](https://necolas.github.io/react-native-web)
Сan you help solve this problem?
After the component `AppRegistry ` is connected, the scroll disappears
[code]

[2018-04-11 11:38] Stanko commented on #29
Hello @gHashTag,
Unfortunately I have no experience with react native, and this library was intended for web (browser) use only.

Cheers!

[2018-04-11 11:38] #29 closed

[2018-04-11 13:33] gHashTag commented on #29
In general, you can not connect AppRegistry, it works with the library `react-native-web`

[2018-04-13 19:57] gHashTag opened #30 "Negative scrolling in Safari"
How to disable the negative scrolling in Safari?
Initially, the animation works ahead of time.

![bug mov](https://user-images.githubusercontent.com/6774813/38755295-e399355c-3f6d-11e8-8443-afd28b0aca02.gif)

[code]

[2018-04-13 20:25] gHashTag commented on #30
Please report here when it will be possible to update the library with the corrected error.

[2018-04-13 20:53] Stanko commented on #30
Done in v1.1.2, you can see the commit here https://github.com/Stanko/react-plx/commit/8f9cc91daa0add76337e9c5378ddd835d2d624f5

[2018-04-14 09:50] gHashTag commented on #30
Updated, but also an error.
![2018-04-14 12 46 05](https://user-images.githubusercontent.com/6774813/38766940-4145f3b0-3fe2-11e8-84ce-13e0df217c5b.png)

My source project
https://github.com/gHashTag/animate/blob/master/src/components/Masters/index.js

[2018-04-14 11:29] Stanko commented on #30
I don't see an error? Can you please create a demo on https://codesandbox.io/ or codepen?

[2018-05-24 19:52] mxmtsk commented on #17
I'm running into the same error when using it with [zeit/next.js](https://github.com/zeit/next.js/).

**Steps to reproduce:**

1. Setup basic next.js example with two routes.
2. Add `react-plx` to the index route and add a Link (the next.js `Link` component) to the second route and a Link back to the index route on the second page.
3. Open the page (Parallax works without an error)
4. Navigate to

[2018-05-26 10:34] Stanko commented on #17
Hey, can you please make a example on https://codesandbox.io/ or example repo, that would be really helpful. I never was able to replicate that error.

Meanwhile I've tried to fix it by adding [this check](https://github.com/Stanko/react-plx/commit/d39bb59c2d98e8719b045abd0e62b939bac32497#diff-3879229b35ec27bb5d1c1f2720d78f9dR567) if element exists before doing any animations.

I guess it can happ

[2018-05-26 10:35] #30 closed

[2018-05-26 12:17] mxmtsk commented on #17
@Stanko Thanks, the fix you provided did work for me, the error does not appear any more and as far as I can tell everything still works

[2018-05-30 00:08] dam4222 opened #31 "iOS safari: <Plx> contents jump when top bar and bottom bar disappear due to scroll"
See the video below:

https://www.dropbox.com/s/jmp8o3e3fp8b21h/ScreenRecording_05-29-2018%2020-04-08.MP4?dl=0

[2018-05-30 07:34] Stanko commented on #31
Hello @dam4222,
It seems you are using height `100%` or `vh` units, which are relative to the viewport height, which changes when top bar shrinks. Try using fixed height for it, or write fix similar to this one:

https://github.com/Stanko/mobile-chrome-vh-fix/blob/master/mobile-chrome-vh-fix.js

In general this issue has nothing to do with the library itself but iOS. Also please try to provide liv

[2018-05-30 15:22] dam4222 commented on #31
Thank you so much for your time and help, much appreciated. I will investigate this issue and try to post my solution here.

[2018-05-30 21:32] dam4222 commented on #31
Removing the fixed height container and using position relative with padding on the top and bottom to create the height allowed me to achieve the same effect without having to use the fixed container. Thanks again for your insight on this.

[2018-05-30 21:38] #31 closed

[2018-06-18 16:08] Akkuma opened #34 "Support scrolling on non-window element"
Thanks for making react-plx. I've ran into a semi-serious feature that doesn't yet exist in that all scroll events are expected to come from the window. This makes it impossible to do something like `body { overflow: hidden; }` and have some child element actually be the one scrolling.

The feature request would be for plx to accept a scroll target, which means implementing it in both plx and scro

[2018-06-19 09:34] Stanko commented on #34
Hello @Akkuma,
It is a tricky one indeed. I had an idea of adding `scrollPosition` (or just `position`) prop, and if it is passed it should be used instead of window scroll tracking. It would cover your case (scrolling elements instead of widow) but it would add additional flexibility.

It shouldn't be too hard, but I have a lot of going on atm, so I'm not sure when I'll get to it.

Cheers!

[2018-07-12 09:29] PeterKey opened #35 "Negative scroll positions"
Problem:
On macOS you can scroll a little further than the actual size of the html document resulting in a rubber effect. This is only implemented in Chrome and Safari, but only produces negative pageYOffset values on Safari, resulting in glitching of the parallactic objects when pageYOffset goes below 0.

Possible Solution:
Without having looked through the code I assume the position tracking is

[2018-07-12 09:33] Stanko commented on #35
Hello @PeterKey,
Ah, you are right, I already did it here https://github.com/Stanko/window-scroll-manager but forgot to bump version in Plx. I will release a fix in a few minutes.
Cheers!

[2018-07-12 09:40] Stanko commented on #35
@PeterKey actually, which version are you using? This was fixed 3 months ago, try updating version of Plx.

I will still update `window-scroll-manager` and release a patch.

[2018-07-12 11:16] PeterKey commented on #35
Yarn tells me I was on 1.3.1 . I've updated to 1.3.2 but my website just broke.

1.3.1 uses window-scroll-manager@0.2.2 and 1.3.2 w-s-m@1.1.0. Did you introduce some breaking changes?

[2018-07-12 11:38] PeterKey commented on #35
[Here you go.](https://codesandbox.io/s/olm225lmqq) I forked your example project and simply updated the dependency to 1.3.2. I get the same error message in my project.

[2018-07-12 12:03] Stanko commented on #35
Yes, I don't see the problem with plx and negative scroll. Am I missing something? Check the gifs I just recorded:

Chrome:
![jul-12-2018 13-59-47](https://user-images.githubusercontent.com/776788/42631951-fccd8a3c-85db-11e8-94f8-205d49314468.gif)

Safari:
![jul-12-2018 14-02-40](https://user-images.githubusercontent.com/776788/42632044-42a0f4a4-85dc-11e8-91c6-9131179fc106.gif)

[2018-07-12 12:29] Stanko commented on #35
Nice! Yes, I see it in Safari now. It is a weird one, I'll check what is going on.

[2018-07-12 13:07] Stanko commented on #35
Here it is finally!

Try fixed example in Safari:
https://5kmr527q2n.codesandbox.io/

and here is code (just update version to 1.3.5) https://codesandbox.io/s/5kmr527q2n)

Sorry for the messy turnaround.

Cheers!

[2018-07-12 13:07] #35 closed

[2018-07-18 23:57] ettubrutesbro opened #36 "support clip-path?"
hi, love this! it's very easy to use and the example is great. any thoughts or plans on supporting clip-path as one of the properties? i know it can be interpolated - i did a vanilla JS example with it a few years ago.

[2018-07-19 08:21] Stanko commented on #36
Hello @ettubrutesbro,
`clip-path` accepts very wide input:
[code]

And while it is possible to cover all of these cases, it is a really big feature. I don't really have time to implement interpolation for it. But if you want feel free to make a PR with your vanilla interpolation.

Cheers!

[2018-07-30 20:00] ZakTax commented on #34
+1 on this

[2018-09-15 06:03] Manny1806 opened #39 "showcase"
I just finished a 6-month coding bootcamp and used react-plx for my portfolio. I used a Plx element for literally everything haha.

http://alex-widner.surge.sh/

[2018-09-15 06:57] Stanko commented on #39
Hello @Manny1806,
Thank you for sharing this, that is a lot of Plx configuration 🙂I really enjoy seeing it in the wild, I'll add it to the readme.
Cheers!

[2018-09-15 07:35] Stanko commented on #39
https://github.com/Stanko/react-plx/blob/master/README.md#demo 🎉

[2018-09-15 07:35] #39 closed

[2018-09-15 23:04] Manny1806 commented on #39
Oh wow, thanks for adding it to the read me Stanko!! Yeah, I bet you didn't expect to see it being used the way I used it lol!

[2018-09-17 20:38] drewpc opened #40 "Visibility: hidden until react-plx load"
I have an isomorphic application that renders a header with an image + text.  I'm using react-plx to provide a parallax effect where the image and text scroll at different rates.  When my server renders the HTML, the line below from react-plx makes the image + text area not visible until after JS has loaded:

https://github.com/Stanko/react-plx/blob/6019ace4a3f96ac25a3359962054a51e25cf3f93/source/

[2018-09-18 12:28] Stanko commented on #40
Hello @drewpc,
There are two problems here:
* render component on server
* prevent jumping of the component when client picks up (when scrol positions isl !== 0)

Visibility fixes the second one. I think it is better user experience for element to show in the correct place then to render it on the wrong one and then make it jump to the correct one.

I will try to find a solution to fix both, by ch

[2018-09-19 20:27] drewpc commented on #40
Thanks for the work around idea!  I'm curious to see if there's a solution that works in both cases, without having to re-render the entire component as either a `<div/>` or `<Plx/>`.  I'll spend some time looking into that and report back.

[2018-09-19 21:09] drewpc commented on #40
@Stanko sorry for the trouble, but could you post the example that you are using to test this issue so I can see the page jump?  On my application, when I comment out this line:

https://github.com/Stanko/react-plx/blob/6019ace4a3f96ac25a3359962054a51e25cf3f93/source/Plx.js#L813

The server side rendered version works great and there's no jump in the page if I'm scrolled further down the page.  Ma

[2018-09-19 21:40] Stanko commented on #40
The first load is the problematic one, once cached it doesn't jump (at least in chrome, I would need to test IEs 🙃).

I recorded this gif with dev tools and "Disable cache" active, and you can see on refresh, server renders the first frame followed by the jump when client app loads.

![test](https://user-images.githubusercontent.com/776788/45782947-b4bf7d80-bc64-11e8-8d67-34ae0b2bbf58.gif)

Unfort

[2018-09-20 11:47] blanck-space opened #41 "Showcase: Ekaya Store"
A lot of subtle transforms made easy and without depending unnecessarily on TweenMax as I'm used to; thanks to react-plx!
[Ekaya](https://www.ekaya.in)

[2018-09-20 14:35] Stanko commented on #41
You are welcome!
Thank you for sharing, I added it to [readme](https://github.com/Stanko/react-plx#demo). 🎉

[2018-09-20 14:35] #41 closed

[2018-09-21 03:18] dspacejs opened #42 "Showcase: added react-plx to my portfolio"
I wanted to add a nice-looking and simple animation to [my portfolio](https://danieljs.tech), so I added it to the intro section.

Performs well, works great on all devices, and was very easy to setup. Cheers!

[2018-09-21 08:48] Stanko commented on #42
Awesome! 🎉 Thank you for sharing, it is always a pleasure to see people using it.
Excuse me for not putting it in the readme, as animation is so subtle that is barely noticeable.
Cheers!

[2018-09-21 08:48] #42 closed

[2018-09-22 19:04] Xie-Hui opened #43 "consider adding an API to consume the scroll manager?"
I'm trying to add the scroll animation for the header navbar and wondering if there is a way to consume the scroll manager to get the current scroll position and do some customize the action accordingly.

[2018-09-22 19:07] Stanko commented on #43
Hello @Xie-Hui,
I don't really understand what are you trying to achieve.

[window-scroll-manager](https://github.com/Stanko/window-scroll-manager) is a standalone package if that is what you are looking for.

Cheers!

[2018-09-23 21:41] Xie-Hui commented on #43
Hi @Stanko  thanks for the information. I think that's what I need!

[2018-09-23 21:41] #43 closed

[2018-09-25 17:40] drewpc commented on #40
Thanks a lot for posting the example.  Your usage does make sense why the visibility should be hidden first.  In my case, my animations are different and I don't need to worry about jumping.  If you don't mind, I'll submit a PR with a prop that makes sense.

[2018-09-25 18:05] drewpc commented on #40
Scratch that.  For my purposes, I can set the react-plx prop `disabled: true` on the server side and then `disabled: false` when the client loads (with `componentDidMount()`) and it works great!

[2018-09-25 18:05] #40 closed

[2018-09-26 07:10] Stanko commented on #40
Glad you figured it out 🎉

I totally forgot about `disabled` 🙈  maybe you can just use
[code]
then you don't need to handle more component states.

Cheers!

[2018-09-29 08:26] danielqn90 opened #44 "Souce code for the demo page?"
Great library! is it possible to share the souce code of the demo?

https://stanko.github.io/react-plx/

cheers!

[2018-09-29 09:02] Stanko commented on #44
Hello @danielqn90 ,
It is already on github, you can find it here:
https://github.com/Stanko/react-plx/tree/master/docs

I'll add it to the readme :)

Cheers!

[2018-09-29 09:02] #44 closed

[2018-10-16 00:34] dylancristy opened #45 "Explain how the sticky text works?"
I can't seem to get that effect to work.  To get something to stick I have to add a step where it is animating `translateY` in a positive direction, essentially fighting against the natural scroll, and because it is animating it's a bit wiggly.  I'd love to get it to come in and stick and stay stable.

[2018-10-16 06:39] Stanko commented on #45
Hello @dylancristy,

I think if you check the source code, it will make it a little bi clearer. There is some trickery between this effect. Element has `position: fixed` it sticks to the bottom, and has `opacity: 0`. Therefore it is always on the screen.

https://github.com/Stanko/react-plx/blob/master/docs/docs.scss#L291-L309

The first parallax block
https://github.com/Stanko/react-plx/blob/mast

[2018-10-16 18:17] dylancristy commented on #45
Got it.  I see now, and I'm able to get a similar effect using `position: fixed`.

Thanks!

[2018-10-16 18:17] #45 closed

[2018-10-23 09:25] rshk opened #46 "VERY choppy animation with image parallax -- am I doing something wrong?"
So.. I was trying to use plx for a fairly "traditional" parallax effect: a section with a background image that scrolls away slower than the rest of the page.

What I did was create a container with ``position: relative`` and two "layers" inside, with ``position: absolute`` and top/left/right/bottom set to zero, to fill the entire container.
Plx components are then used to translate the content of

[2018-10-23 10:32] Stanko commented on #46
Hello @rshk,
If you can create example on https://codesandbox.io/ it would be very helpful.

But from what you described, you are doing things that are *don't dos* for web animations. Are you using `transform` or `top/margin-top` to move elements? Are images large and scaled down? These are all heavy operations for the browser and that's why it creates lag.

https://github.com/Stanko/react-plx#wha

[2018-10-23 10:59] rshk commented on #46
Thanks for the quick answer @Stanko

Yep, I read the dos/dont's list; I'm using ``translateY`` and just a ``background-size: cover`` like you did in your example (i.e. **not** on something that gets resized); tried removing it / using a red background instead of the photo, but things didn't change.

It actually looks like it depends on the relationship between start/end and ``{start,end}Value``; f

[2018-10-23 11:10] rshk commented on #46
See another example with a text layer too: https://codesandbox.io/s/wj4z0881k

Btw, my original markup was a bit more complex (with `<Plx>` nested inside `div` with `position: absolute`, but the result is the same).

[2018-10-23 12:17] Stanko commented on #46
Yeah, I see it.

Problem is with the scroll tracking - all transformations are done after the scroll already happened, and there is a slight delay. This delay is visible when elements are moving vertically at the same speed as the scroll, and you can see Plx catching up to the scroll.

If elements are moving vertically at different speed (or rotating, fading etc) human eye can't see the delay, as

[2018-10-23 14:42] Stanko commented on #46
For [the example you shared](https://deploy-preview-5--reinventsoftwareio.netlify.com/) you can use `background-attachment: fixed` and just move the content

Check this:
https://codesandbox.io/s/l9k60qzpnm

[2018-10-23 16:50] rshk commented on #46
I'm making a few experiments using my old approach, but with ``requestAnimationFrame`` to reduce re-render frequency (as opposed to just listening to the scoll event).

Everything seems to be working just fine, see: https://codesandbox.io/s/wly60n6r5

(Note that the background layer is even using `background-size: cover` + offsetting background-position, which is bad and definitely affecting perfo

[2018-10-23 16:59] Stanko commented on #46
But if you change this line in `cover.js`:
[code]

to
[code]
same choppiness will occur due to the same reason

[2018-10-24 12:17] rshk commented on #46
What browser are you testing this with?
I'm using Chromium 70.0.3538.67 and Firefox 63.0

On Chrome, using my approach, I get smooth animation no matter what the scroll speed (i.e. `translateY(${scrollY}px)` will make the image stick / behave the same as `background-attachment: fixed`, no delay / choppiness at all); with Firefox, it's a bit better than when using Plx (Plx makes the whole page scro

[2018-10-24 13:01] Stanko commented on #46
It is faster, as `translate3d` will enable hardware acceleration, but same can be achieved by adding `transform: translateZ(0);` to the element's initial CSS.

TBH Unfortunately I think Plx is just not made for your usecase.

[2018-10-24 13:33] rshk commented on #46
Hmm.. I'm confused, I thought this was probably the most common use case for parallax effects? (actually the one where the name comes from :)).

Anyways, I'm not going to spend any more time trying to make the effect work (it's not worth the time at this point); thanks for your support anyways!

Btw, you might want to try polling scroll position on `requestAnimationFrame` rather than using it to d

[2018-10-24 13:36] #46 closed

[2018-10-25 13:54] Stanko opened #47 "Investigate potential performance improvements"
Check if overall performance can be improved.

Revisit this todo
https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L772-L773

Related: https://github.com/Stanko/react-plx/issues/46

[2018-12-13 17:33] Stanko commented on #47
Fixed in https://github.com/Stanko/window-scroll-manager/releases/tag/v1.1.3

[2018-12-13 17:33] #47 closed

[2018-12-14 08:35] Stanko commented on #46
@rshk I know this is already closed, but I made an improvement on scroll tracking that seems to help a lot. Check these examples:

* This is the one you created with `Plx` version `1.1.0` - https://codesandbox.io/s/l9k5nwy5wz
* This one is the same but with updated `Plx` to `1.3.10` - https://codesandbox.io/s/ymq89lklv9

Sorry for bumping the old thread, but you got me thinking why is it behaving

[2018-12-14 08:39] rshk commented on #46
Good stuff, I’ll have a look. Btw I suspect much of the choppiness I was
getting is due to browsers stopping javascript during scrolling, to prevent
it from messing with scrolling (they’re most concerned about page reflows
apparently). (I should have a link somewhere about this if you interested)

On Fri 14 Dec 2018 at 08:35, Stanko Tadić <notifications@github.com> wrote:

--
~redShadow~
http://ww

[2018-12-14 08:41] Stanko commented on #46
Please do. Thank you!

[2018-12-14 17:05] rshk commented on #46
Just tried it in Chrome and Firefox.
The 1.3.10-based example works smoothly in Chrome, still quite choppy in Firefox.
That's most likely due to Firefox more aggressively pausing javascript during scrolling, so I suspect there's no real way to build a workaround there.. :slightly_frowning_face:

I'm planning to do a few experiments using 3d-accelerated canvas, but I suspect it might not make a dif

[2019-02-12 00:04] aldenfbrown opened #49 "Plx does not render startValue and endValue values that are 'string' based units"
Hello Stanko,

My project requires string based transforms for the CSS properties although it appears the logic on lines 327 and 333 are preventing this use case with the following parallaxData array.

[code]

Expected:
Plx should render startValue and endValue values that are 'string' based units (50px, 50%, 25vh).

Actual results:
Plx does not render startValue and endValue values that are 'stri

[2019-02-12 10:20] Stanko commented on #49
Hello @aldenfbrown,
At the moment, Plx unfortunately [supports only numeric values](https://github.com/Stanko/react-plx#properties) for `startValue` and `endValue`. String values are only allowed for colors (i.e. `#234` or `rgba(200, 100, 50, 0.5)`).

I will look into it, but I'm not sure when I'll have time to do it. Feel free to add a feature yourself, I would gladly accept a PR for it.

Cheers!

[2019-02-12 10:23] Stanko commented on #49
Oh silly me 🙃I actually implemented that already, but you need to pass `unit` property. In your example it would be:

[code]

Sorry for the misunderstanding!

[2019-02-12 10:23] #49 closed

[2019-02-12 18:16] aldenfbrown commented on #49
That's great! I appreciate the quick response and path forward. I would be great if this was added to your example of props array on the readme. Regardless thanks!

[2019-02-12 20:36] Stanko commented on #49
That makes sense :) I'll add it, thanks!

[2019-03-07 08:13] angminsheng opened #50 "Showcase: <https://simplx-web.herokuapp.com>"
Hi Stanko ! We are a group of three junior web developer who has just about to finish our 9 weeks coding bootcamp. We have been learning react for two weeks and we really liked and enjoyed your React Plx package as the code is clean and easy to work with. We decided to make a website that showcases all your parallax effects and people willl be able to export code snippet based on the effects they

[2019-03-07 10:03] Stanko commented on #50
Hello @angminsheng,
You guys made my day :) this is brilliant. Make sure you add a description so people know what the app does. It took me a minute to figure it out myself.

Sometimes, app breaks (I didn't dig deep examining errors in the console), so you might want to use React's [Error Boundaries](https://reactjs.org/docs/error-boundaries.html).

Personally I would open source something like th

[2019-03-07 17:18] angminsheng commented on #50
Hi Stanko,

Glad to hear that you like it =)

We are still working on the project and I think there are some bugs that we are fixing at the moment. We have a presentation tomorrow where other teams will showcase their projects as well. It would mean a lot for us if you can feature it on the npm website so other people can try it out because this is why we started this project at the first place. W

[2019-03-07 17:54] Stanko commented on #50
I just added it to the [readme](https://github.com/Stanko/react-plx#user-content-simplx) 🎉

[2019-03-07 23:32] angminsheng commented on #50
Hi Stanko, thank you so much. We also added your github repository on our small blog section and tutorial section so that people will know where to get the documentation of your package.

[2019-03-21 06:22] dingcaiying opened #51 "Allow animation only trigger once?"
Thanks for making this great library, really like the `parallaxData` option, it's so smart and convenient.

I'm now facing a request to let the parallax effect only runs on first time the element appears, and I find it's not easy with current exposed APIs. Mostly because of there is no easy way to know when does the element firstly fully displayed / visible (my idea is: setting `freeze` to true wh

[2019-03-21 09:57] Stanko commented on #51
Hello @dingcaiying,

Thank you for the kind words. I can add a callback which would trigger only once when scroll is below the scroll position of the last animation defined. Based on that you could set your state and pass `freeze={ true }` to Plx.

But there is a tricky situation here, if the user is already beneath the animation, and refreshes the page, animation would never be played. I would li

[2019-03-22 06:16] dingcaiying commented on #51
Hello @Stanko ,

Regarding the tricky situation you mentioned above, I tried this morning, if I set `animateWhenNotInViewport` to true, then element will have target styling directly (in my case, I have a fade in animation, so it's: opacity: 1). I can rely on this logic to handle that situation, although not very smart but it works 😄 .

If it's not too bothering and you think it's proper for this

[2019-03-22 08:22] Stanko commented on #51
I forgot about `onPlxEnd` 🙂  if it is not triggering, that's a bug. I'll take a look.

Initially I wanted to avoid callbacks as Plx animations don't have start and end in a traditional animation sense. But user can scroll up and down in the middle of it and skip parts.

Not sure how to name new callback, `pageWasScrolledBelowOnce` 🙃 ?

[2019-03-22 08:31] dingcaiying commented on #51
@Stanko Yep, if `onPlxEnd ` not triggering in my case is a bug, then no need bothering to add a new callback. Let me create an example for you to check, probably my way of using it is not good.

[2019-03-22 09:20] dingcaiying commented on #51
Hello @Stanko , here's an example: https://codesandbox.io/s/m7wyxywkpy .

The content is in the center of the page, I added two `spacing-section` to make the page long enough. In the content section, there are 2 rows, each row has one image and one text block. For each block, I wrapped it with `Plx` component, so that they appears while scrolling and at different timing.

If scrolling slower, it w

[2019-03-22 09:59] Stanko commented on #51
To be honest, for that scenario, something like https://www.npmjs.com/package/react-reveal will probably do the better job. I didn't write Plx with that in mind. So I would advise you to use `react-reveal` or a similar library for now.

I thought a little about callback, and I think I'll add
[code]

That is similar how mouse cursor events are handled, so hopefully it will be intuitive.

Cheers!

[2019-03-22 10:18] dingcaiying commented on #51
@Stanko 😂will have a try of another library. I also didn't write that section with this feature in mind too, it was a later added request 🤦‍♀️

Anyway, thanks a lot for your time! Looking forward to the new APIs!

[2019-03-28 09:30] mfelmy opened #52 "strokeColor seems to not work"
Dear Stanko,

first of all, thank you very much for this amazing package! I was using it a lot in the past couple of weeks, it gives a really easy and intuitiv way to parallax effects!

Today I was trying to fill the path of a .svg file, but I can't get it to work. I noticed, that when the class changed to active (`class="Plx Plx--active`) no `style` is being applied.

I assume this behaviour is n

[2019-03-28 13:02] Stanko commented on #52
Hello @mfelmy and thank you! :)

This is a good catch! It should `stroke` instead of `strokeColor`, my bad.

I will fix and publish it later today.

Cheers!

[2019-03-28 13:10] Stanko commented on #52
Here it is :)

Fixed in [1.3.13](https://github.com/Stanko/react-plx/commit/d58b358b2324c57ee87a4a05761641f6344bcd62)

Demo:
https://codesandbox.io/s/wrx3kr7y7

[2019-03-28 13:10] #52 closed

[2019-03-28 13:36] mfelmy commented on #52
oh wow, thank you so much (:

[2019-04-17 06:08] #51 closed

[2019-08-30 10:43] nathobson opened #54 "Start + end 'self' values"
Hi!

Cool project and I'm enjoying the API for this, seems to be the most logical out of the React parallax libraries I've tried out.

My issues is around using 'self' as the value around start/end. Took me a little bit to realise that this wasn't working as these both are triggered when the element _enters_ the viewport, causing no value to be read and obviously there is no difference and therefo

[2019-08-30 11:59] Stanko commented on #54
Hello @nathobson,
Firstly, thank you!
Honestly I had to open readme again to check what exactly are you talking about. And I think you are totally right, current system doesn't make much sense. I'll think of a way to refactor it.

For now, as a workaround you can use combination of `end` and `endOffset` props.

The simplest possible workaround is to set `end: "self"` and `endOffset: "100vh"` - ani

[2019-08-30 14:05] nathobson commented on #54
Thanks for responding so quickly and appreciate the Codesandbox links :)

The issue I had with that kind of workaround (`end: "self" and endOffset: "100vh"`) is that if the element is fairly tall, the effect would end as soon as it hits to top of the viewport, which looked kind of weird. For example, I was animating a background inside of a container which was around 600px tall. The result was the

[2019-08-30 15:52] Stanko commented on #54
Hehe glad that works for you, you could make a dummy wrapper around Plx that does that. But I'll look into it and try to change API to make these things easier.

[2019-08-31 20:57] #50 closed

[2019-08-31 20:59] #26 closed

[2019-09-04 11:13] carstenblt opened #55 "Element hidden on load when using with gatsby"
When using gatsby, a Plx element remains hidden (display: 'hidden') and only shows, when you start scrolling. This happens about 50% of the time and seems to be a race condition.

I believe this is an issue with gatsby, because it doesn't support using_window_ inside render(). Using _animateWhenNotInViewport _ works as a workaround. I can't give you much insight though as I'm still new to the ecos

[2019-09-05 08:05] Stanko commented on #55
Hello @carstenblt,
I don't think it is a race condition.

Initially I added `visibility: hidden` on purpose, to hide element until client code is loaded, then it is removed when component is mounted:
https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L553-L556

Can you provide me with a code example please?

Cheers!

[2019-10-03 10:52] ManuSevenval opened #56 "Possibility to animate backdropFilter"
I have a feature request:

What about being able to animate the backdropFilter property as well?

I think we could easily add the following filters for backdropFilter within `react-plx` pretty easily, since they only use linear values:

[code]

I would not add `drop-shadow` since we would have to accept four arguments here:
 `drop-shadow(4px 4px 10px blue);`.

Furthermore I can not think of a way

[2019-10-03 10:57] Stanko commented on #56
Hi @ManuSevenval,
It would be great if you can do a PR for `backdrop-filter`.

Plx already has support for:

Just note that animating these filter on scroll will probably introduce performance issues.

Cheers!

[2019-10-08 05:52] dil25 commented on #56
can we use text shadow or drop shadow filter now?

[2019-10-08 07:41] Stanko commented on #56
@dil25 unfortunately not, because both properties have multiple numerical values plus color. That means it needs a different approach and decent amount of work to implement these.

[2019-10-08 11:29] dil25 opened #57 "Can we toggle a class when scrolling?"
Can we toggle the CSS class when scrolling (scroller event)?

[2019-10-08 11:37] Stanko commented on #57
It is already supported:
https://github.com/Stanko/react-plx#animation-state-css-classes

[2019-10-08 11:39] dil25 commented on #57
Thanks for the reply..can we add our own css class when scrolling dynamically?

[2019-10-08 11:43] Stanko commented on #57
Unfortunately not, adding custom class for every possible state feels a little bit over the top.

You can achieve everything using these, and I think the code is very readable:

Example:
[code]

And you can name your animation parts and those will be used instead of numbers.

Example:
[code]

[2019-11-02 06:34] codebee opened #58 "On IPhone when zooming page crash."
HI @Stanko Stanko Tadić

Thanks for Nice powerful and wonderful tool. We can do lot of parallax related animation easily.

I faced issue on iphone(ios) when zooming my page is crashing.

I have position fixed few divs and when scrolling I am doing zooming and set opacity to zero to visible other divs with the user scroll.

It works fine with desktop and android but normal scrolling works fine in i

[2019-11-02 06:47] Stanko commented on #58
Hello @codebee,
Can you please provide me with more info? I have never seen page crashing, so it would me debug. Which version of iOS are you using, which iPhones, is it happening of Safari or some other browser. And if you can,  please create a crashing example at https://codesandbox.io/

It is really hard to figure these things out without a reproducible example.

Are you sure some other lib is

[2019-11-02 06:54] codebee commented on #58
Hi @Stanko

Ok i will create some sample page and let you know.

Thanks indeed for your quick response. :)

[2019-11-04 00:35] #57 closed

[2019-11-07 12:05] codebee commented on #58
I could fixed the issue by using below css. Issue may be happen due to the content size. I have single page with big images.

  .ios .Plx.Plx--below:not(.section-scroll-wrapper) {
    display: none;
  }
  .ios .Plx.Plx--above:not(.section-scroll-wrapper) {
    display: none;
  }
  .ios .Plx.Plx--active + .Plx--above {
    display: block;
  }

thanks. :)

[2019-11-07 12:19] Stanko commented on #58
Cool, glad you made it. I would still love to see an example, so I can try to solve the possible bug in the library.

If you have a lot of large images it might be too heavy for ios.

[2019-12-10 12:22] josantana commented on #34
Anyone working on this subject?

Got all my animations working with `react-plx`, but after applying the full layout, I had to move the scroll target to a specific `div` tag and... damn. :(

[2019-12-10 12:48] Stanko commented on #34
I don't have time to tackle this ATM, but I would gladly accept a PR.

[2020-01-15 13:01] #58 closed

[2020-01-15 13:02] Stanko commented on #55
Unfortunately, this is how server rendered React and Gatsby work.
Check this Gatsby issue I opened - https://github.com/gatsbyjs/gatsby/issues/12413

Closing as it is not problem with the library itself.

[2020-01-15 13:02] #55 closed

[2020-02-05 08:58] benjam1n opened #60 "State update on an unmounted component"
Hello!

I keep getting this warning when I navigate to another page. I tried using freeze on componentWillUnmount but it didn't really help (example below). Version 1.3.15 on React 16.12.0 with Gatsby.

Warning:
[code]

Example:
[code]

[2020-02-05 09:51] Stanko commented on #60
Hello @benjam1n
I've seen this once or twice, but I could never replicate this. If you can create a standalone example where this is replicable, I could probably track it down.

As far as I can see, all events are cleaned up on unmount.

Cheers!

[2020-02-12 12:41] carlosoliveraf opened #61 "TypeScript types missing"
Since I couldn't find @types/react-plx, how do I import this to my react project? Any help? thanks!

[2020-02-12 13:09] Stanko commented on #61
Unfortunately, types are not the part of the package ATM.

You'll need to create a local type definition file, using `PropTypes` as reference:
https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L834-L897

Feel free to open a PR, I will gladly include it in the repo.

Cheers!

[2020-02-12 13:30] carlosoliveraf opened #62 "Run independent animation after scroll reaches an element"
I am trying to figure out how to trigger the animation using "self" as start, but I need it to start even if my scroll does not move anymore after reaching it, animation must run by it self when I reach the element. Is that possible?

EDIT: I was reading other issues and saw the author indicating for that case I should use react-reveal, so I am closing this issue.

[2020-02-12 13:31] carlosoliveraf commented on #61
Thank you! I declared local type and it is working perfectly.

[2020-02-12 13:31] #61 closed

[2020-02-12 13:44] #62 closed

[2020-02-12 15:35] Stanko opened #63 "TypeScript types"
I have to add types, for now they are available here:

[code]

[2020-02-20 07:16] codebee opened #64 "Scrolling On IE Edge browser jumping and moving Plx divs"
Nice plugging I applied it to my project and it works well on chrome and FF however when scrolling on IE browser it moving with jumping behavior. Can you please help me to sort this out.

I also included below and tried when scrolling on IE still moving with unexpected jumping behavior.

import 'core-js/es6/map';
import 'core-js/es6/set';
------------
import smoothscroll from 'smoothscroll-polyfil

[2020-02-20 07:35] Stanko commented on #64
Hello @codebee,
Unfortunately, this is due the nature of Internet Explorer and how it handles wheel event. Plx listens to the scroll events and whenever scroll is changed, it recalculates styles and applies them. As IE is triggering these every 50 or so pixels, animation looks choppy.

There is nothing I can do.

Cheers!

[2020-02-20 07:35] #64 closed

[2020-03-13 17:59] talentlessguy commented on #63
thank u :heart: , writing stuff without seeing what options are is tough

looking forward for putting this in a new relese

[2020-04-09 23:53] Lionberg commented on #60
I have the same issue, with the simplest code:
`import Plx from 'react-plx';

class App extends Component {

    render() {
        return (
            <div>
                 <Plx>
                        HELLO 1
                </Plx>
            </div>  )
    }
}

export default App;`

[2020-05-04 09:54] Githamza opened #66 "react-plx and superposed html elements"
I have an issue this that if I want to animate an object under a png image, the animated inside `Plx` became on top

Here an example.

I would that the box stay under the image

https://codesandbox.io/s/react-plx-demo-9x0rj?file=/index.js

[2020-05-04 10:07] Stanko commented on #66
Hello @Githamza,
This is not an issue with the library, but with CSS in the example.

The image has no `position` set and Plx element has `position: fixed`.

You are either missing a `z-index: -1` on Plx element, or `position: "relative"` on the image.

https://codesandbox.io/s/react-plx-demo-i7tus?file=/index.js

Hope that helps, cheers!

[2020-05-04 10:07] #66 closed

[2020-06-08 11:04] antoniocosentino opened #67 "Showcase: <antoniocosentino.com>"
Hello @Stanko, first of all thanks for creating such a nice component!
I finally published the new version of my website [antoniocosentino.com](https://antoniocosentino.com/) and I'm using **react-plx** in the following pages:

- Homepage (the moving triangles on scroll)
- [Playlists page](https://antoniocosentino.com/playlists)
- Single project page (i.e. https://antoniocosentino.com/projects/ac-

[2020-06-08 11:12] Stanko commented on #67
Sweet! Thank you for sharing this, I'll add it to the readme :)

[2020-06-08 11:15] Stanko commented on #67
Added it 🎉
https://github.com/Stanko/react-plx/blob/master/README.md

[2020-06-08 11:15] #67 closed

[2020-07-21 07:33] thomasmorice opened #69 "I have a page with the same component - the scroll position is always related to the first child"
I have a component that I re-use in different places on the page. Inside this component, I'm using react-plx to change an element inside my component. The scroll position seems to be working only on the first time I'm using my component.
This means the parallaxData are not working properly, they work for the first child, but scroll position is always 100% for the next childs..

Hope it make sense

[2020-07-21 15:48] Stanko commented on #69
Hey @thomasmorice
Can you please create an example on https://codesandbox.io or at least paste the code here so I can take a look.

But if you are using a fixed value or a css class for start/end/duration that might be the problem.

[2020-07-21 18:47] thomasmorice commented on #69
Hello @Stanko,

Thanks for your reply, I've made an example, using the same component twice.
If you scroll down the page slowly, you'll see in the console that the `transform` value of the first iteration of my `MyPlxComponent` will start around 0, and translate until the max (300) which should be the case

The second iteration of my component will start close to the max.. Seems like the second it

[2020-07-21 21:38] Stanko commented on #69
Thank you for putting the time to create a full working example!

Well, that is actually intended behavior. When you use percentages for start and end, it uses page's maximum scroll. Meaning that 0% is when page is at the top and 100% when the page is scrolled all the way down.

Instead you should use `self` for a start, and `window.innerHeight` for `duration. I created a really simplified example

[2020-07-22 07:46] thomasmorice commented on #69
I understand, that make sense!
Thanks a lot for your time and help, now it make more sense!
Really nice work there btw! 🙏

[2020-07-22 07:46] #69 closed

[2020-08-11 19:06] xstable opened #71 "Set `end:` as pixel-difference to `start` ?"
Would be awesome if there would be a way to set the "end" parameter depending on the start-parameter.

Example:

[code]
Means if "self" is on "1500px" and you set "end:" "+250px" this should result in setting end to 1750px.
Is there still a way to archive this?

[2020-08-11 19:10] xstable commented on #71
Ok, sorry read it just some minutes later: `duration` is the parameter for parallaxData I was searching for.

[2020-08-11 19:10] #71 closed

[2020-08-12 07:39] xstable opened #72 "Act only on Sub-Elements of the Parallax"
Is it possible in any way to act only on a Sub-Element inside of the parallax?

Example:
You have a parallax, where you have an this inside:
[code]
How could I only change the borderColor of this single red div to transparent?
Might there be an parameter like:
[code]
Or is there another way to archive this?

[2020-08-12 08:08] Stanko commented on #72
Hello,
I'm not sure if I understood your question. If you want to nest parallaxes, you can put `Plx` inside other `Plx` element:

[code]

If you ask only how to apply border color to the `testDiv` that is exactly what library does. Just replace `div` with `Plx`:

[code]

If you are passing styles instead of using CSS classes, when `borderColor` make sure you define it as a standalone prop instead

[2020-08-12 08:59] xstable commented on #72
I use Plx inside Gatsby and generated an Dynamic Component.
That Component can wrap PLX around an self defined HTML-Element, or around another component.
But your hint is awesome. I don't mind that I even can encapsulate multiple Plx within other Plx components.
Nice.

[2020-08-12 08:59] #72 closed

[2020-08-12 14:51] andrewting112 opened #73 "Choppy animation"
Hi! I would first like to say thank you for such an cool library. I have been playing around with it except have encountered choppy animation when placing anything inside the Plx component.

This is choppy:
[code]

This is fine:
[code]

Any ideas on how to fix this?
Thanks so much for your help!

[2020-08-12 14:56] #73 closed

[2020-09-29 09:02] #60 closed

[2020-09-29 09:04] Stanko commented on #60
Finally got it 🙂
Fixed in v1.3.16

[2020-10-14 22:17] Githamza opened #74 "use react-plx inside svg"
I have an svg converted to react component ( https://react-svgr.com/playground/) I would like to make the plx effect within the svg elements

[code]

The `rect` element get hidden because of `plx` div element.

A solution to make plx work on specific elements of svg file ?

[2020-10-15 07:53] Stanko commented on #74
Hey,
You should use `tagName` prop, something like this:

[code]

Check the example here.
https://codesandbox.io/s/react-plx-demo-forked-kx0g2?file=/index.js

Cheers!

[2020-10-15 07:53] #74 closed

[2020-10-15 10:55] Githamza commented on #74
yes thanks ! byt transforme attributes does not work
https://codesandbox.io/s/laughing-kilby-n3p8d?file=/src/App.js

[2020-10-15 13:20] Stanko commented on #74
I can see the `rect` element moving, check the gif:
![Oct-15-2020 15-17-54](https://user-images.githubusercontent.com/776788/96131595-ad2d3a00-0ef9-11eb-892b-28cbf29f2d39.gif)

Please note that some CSS properties won't work on SVG elements.

For details check Plx documentation:
https://github.com/Stanko/react-plx#properties

Cheers!

[2020-10-15 13:28] Githamza commented on #74
yes but it's not at the same place
<img width="1066" alt="Capture d’écran 2020-10-15 à 15 23 44" src="https://user-images.githubusercontent.com/11578288/96133043-1d888b00-0efb-11eb-8a6f-ec16f0dcf2eb.png">

[2020-11-03 14:56] xstable opened #75 "Strange flipping on mobile-devices while scrolling"
See this video and notice the Image-Flipping in the Background: http://somup.com/cYXe2NID7c

You can check it live at https://easy-car-service.de

It might caused by the way, how Browsers on mobile devices handel "animations" while touching & scrolling.
For me it seems that animation are not run as long as you do an tap&move (means scroll, swipe) event, but only start after release the tapping.

W

[2020-11-03 15:47] Stanko commented on #75
Hey @xstable,
Indeed, it seems like browser is throttling events for performance.

But I think the problem with the backround is due to the `vh` units used. When you scroll, toolbar shrinks, and the viewport height changes, and the background element changes it's height cause it is using `vh`. Try using fixed pixel value to see if it is still happening. If so, then you can use this https://css-tri

[2020-11-03 19:15] xstable commented on #75
Ah, yes, you are right. I didn't recognize that the scrollbar could be the cause of the issue here.
I will try to change it and see if it minimize the issue with the animation.
Thanks for this hint.

[2020-11-04 09:16] xstable commented on #75
@Stanko ok, that don't seems to be the cause of the issue. I've changed the values to `px`, but same effect as before appears.

BTW: This behavior doesn't appear at the DEV-Mode of Chrome with CPU-Throttling, but only at my real mobile device. (video still with the `vh` implementation): http://somup.com/cYXfQ2IFAT

[2020-11-04 11:13] xstable commented on #75
I figured out the exact cause of this issue.
The background-attachment of the background-image is set to `fixed`.

![react-plx-issue](https://user-images.githubusercontent.com/1778068/98104633-fe946d80-1e96-11eb-82da-b0df12f3feb9.gif)

Any Idea, how to get a fixed image in the background without the flipping?

[2020-11-04 11:20] Stanko commented on #75
Nice catch! Maybe you can set the position of the element to be fixed instead?

[2020-11-04 12:00] xstable commented on #75
What do you mean with "position of element"? Do you have an example for that?

[2020-11-04 12:22] Stanko commented on #75
Set `position: fixed` on the div which has background image set.

[2020-11-23 17:45] AlexandraKlein commented on #40
I was still having some `visibility: hidden;` issues on mount and `disabled={typeof window === 'undefined'}` didn't always solve it.

I had to implement the following:

[code]

[2020-11-27 04:08] cgarcia369 opened #76 "dropped fps"
Does anyone know any way to increase the fps in the animations, I feel that they are very lag.

[2020-11-28 08:51] Stanko commented on #76
Check if you are following the common "don't dos" mentioned in the readme

https://github.com/Stanko/react-plx#what-is-this

[2020-11-28 18:01] cgarcia369 commented on #76
-

[2020-11-28 18:01] #76 closed

[2020-11-28 18:01] cgarcia369 commented on #76
Thanks¡

[2021-01-23 02:54] HyBDev opened #77 "Smoother effect using values with more decimals"
Hey and thanks for this solution!
It's just the thing I searched for many weeks!
I've an issue and I don't know how to do it with yours. I would like to smooth the transition between the start and the end values by using longer decimals transition values. How could I do it?
Thanks! :)
[image](https://user-images.githubusercontent.com/26486143/105566771-f4e30f00-5cfb-11eb-9379-bdf7901b3a45.png)

[2021-01-25 10:00] Stanko commented on #77
For performance reasons values are rounded to two decimal places:
https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L387

Feel free to copy the code and change that one line.
Cheers!

[2021-02-07 16:42] HyBDev commented on #77
Thanks! :)

[2021-02-07 16:42] #77 closed

[2021-03-20 18:31] AlexandraKlein opened #79 "Animating scale creates choppy animation, most notably on safari, but apparent in all browsers."
[Sandbox]( https://codesandbox.io/s/react-plx-demo-forked-8vwfv?file=/index.js)

Example data:

[code]

[2021-03-20 18:46] AlexandraKlein commented on #79
If face, scale property in general seems pretty choppy: [sandbox](https://codesandbox.io/s/react-plx-demo-forked-8vwfv?file=/index.js)

[2021-03-21 18:09] Stanko commented on #79
Hello @AlexandraKlein,

This is how library works - on scroll, it calculates interpolated value of the property it needs to animate.

In your example, image is scaled a lot (300%) for a duration of window height. Meaning that when you scroll for something like 50px, it is 1/20 of the window height (if we assume window height is 1000px) which means the image is going to be scaled for `(end-start) *

[2021-03-21 18:18] AlexandraKlein commented on #79
Thanks for taking a look, @Stanko!

However, I used a large scale value to demonstrate the choppiness, but it's choppy even going from `scale(1)` to `scale(1.1)`. Again, this is most noticeable on Safari. Seems that this should not require a `position: fixed` to solve.

[2021-03-21 18:28] Stanko commented on #79
Honestly, not sure why it happens, it probably has something with browser recalculating the image's position on scroll as well as scaling it.

[2021-03-22 04:53] AlexandraKlein commented on #79
It's this line: https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L387

For pixel values, it works fine, but for scale is choppy because it's only going to 2 decimals. Would you consider changing this to `return value.toFixed(4);`?

Also, may I suggest adding `newStyle.willChange = 'transform';` inside this condition? https://github.com/Stanko/react-plx/blob/master/source/Plx.js#L452

[2021-03-22 11:16] Stanko commented on #79
Thanks for the suggestions!
I [applied it](https://github.com/Stanko/react-plx/commit/2e3477fac51c50c380174f2a732345162cfb3af6) and released `1.3.17`.

Can you please give it a go?

[2021-03-22 15:15] AlexandraKlein commented on #79
So much smoother! Thanks so much! 🔥

[2021-03-22 15:22] Stanko commented on #79
Nice! Thanks for help!

[2021-03-22 15:22] #79 closed

[2021-04-15 01:17] mosesoak opened #81 "Is there a way to sequence from previous values?"
Hi @Stanko thanks for this neat lib, we're using it on a really swishy site that I'll share when it's live in a week or so.

Having some trouble with sequencing multiple items in a data array. For example to make a "bounce" effect I can slide in, then slide back a little bit. The trouble is with setting up the values of the second item or any following items, in relation to the previous one. Is th

[2021-04-15 07:56] Stanko commented on #81
Hey @mosesoak,
If I understood correctly, I think you can doing using the `easing` prop. Check [this demo](https://codesandbox.io/s/react-plx-easing-demo-6d74c?file=/index.js) I created and see how the box has a little swing at the start and the end:

To do that, just use cubic bezier easing with control points defined in an array:

[code]

You can play with different values and test them on this

[2021-04-15 16:03] mosesoak commented on #81
Hey @Stanko thanks but not what I was asking at all. I'll try again:

In your

[2021-04-15 16:18] mosesoak commented on #81
Sorry, reply continued:

In your example data you show one object getting 3 data objects applied in sequence, using numbers for start and end.

I tried this but in practice it becomes too hard to sequence the values easily because they're fixed. Like if you do 3 datas for item A, ending at 500, then you start item B at 400 that works, until you change item A to end at 1000, now you have to update

[2021-04-15 18:16] mosesoak opened #82 "Set fixed position when element is centered?"
Hi again @Stanko, how can I determine when an element is centered in the viewport in order to set position:fixed, continue parallaxing stuff horizontally, then release it after a certain scroll amount?

Thanks!

[2021-04-15 19:32] Stanko commented on #82
That is straight from the demo:

https://muffinman.io/react-plx/

https://github.com/Stanko/react-plx/blob/master/docs/docs.scss#L291-L313
https://github.com/Stanko/react-plx/blob/master/docs/sticky-text.js

[2021-04-15 23:02] mosesoak commented on #82
Gotcha, thanks!

[2021-04-15 23:03] #82 closed

[2021-04-15 23:04] mosesoak commented on #81
Okay thanks!

[2021-04-15 23:04] #81 closed

[2021-07-30 13:12] sandroweb commented on #61
Please, paste declaration here!!

[2022-04-20 15:08] stefanooni commented on #63
@Stanko where do I save this code for it to take effect?

[2022-04-20 15:18] Stanko commented on #63
You'll need to set `typeRoots` in your tsconfig and add custom types for Plx.

Check the official documentation here:
* https://www.typescriptlang.org/docs/handbook/2/type-declarations.html#your-own-definitions
* https://www.typescriptlang.org/tsconfig#typeRoots

[2022-04-20 15:48] stefanooni commented on #63
Thanks, however I am getting several errors:

[code]

Any idea why?

[2022-06-17 11:31] Stanko commented on #63
Added in v2.0.0

[2022-06-17 11:31] #63 closed

[2022-06-17 11:31] #75 closed

[2022-06-17 11:32] #36 closed

[2022-06-17 11:33] Stanko commented on #36
I won't be implementing this, as it is out of the scope of the library. Cheers!

[2022-06-17 11:34] #54 closed

[2022-09-19 08:44] bennofatius opened #92 "onPlxStart/ onPlxEnd function not running in right moment?"
Hi! Thank you for this amazing library! All is working well for me so far, except the function calls at animation start or end. When defining a simple function like this:

            onPlxEnd: sayHi(),

and:

function sayHi() {
console.log('hi')
}

...the function will always get called immediately after loading my page, and never when my animation starts/ ends. Any thoughts a to why this may be?

[2022-09-19 08:59] Stanko commented on #92
Hey @bennofatius and thank you for the kind words!

Your code actually calls the function right away, it should be this instead:
[code]

When you do `sayHi()` it actually calls the function, logs your message and returns a value (`undefined` in your case, as there is no `return`). That means `onPlxEnd` gets an undefined which is not a function.

Cheers!

[2022-09-19 08:59] #92 closed, assigned to nobody

[2022-09-19 09:06] bennofatius commented on #92
Thank you for your prompt reply!